---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Seafloor Explorer',
	description: 'About us',
};
---

<Layout {seo}>
  <TextSection narrow>
    <h1>About</h1>
    The <em>Seafloor Explorer Online Seminar Series</em> is focused on ocean tectonics (broadly geophysics, geochemistry, geology) 
    and associated bio-geological processes. The goal is to bring the community together, 
    disseminate research outcomes, support students and early career researchers, promote outreach, and help preserve 
    marine environments.
    <p></p>

    <h3>Organising committee</h3>
    <ul>
      <li>Adina Pusok, University of Oxford</li>
      <li>Ana Ferreira, University College London</li>
      <li>Chong Xu, University of Oxford</li>
    </ul>

    <p></p>
    <h3>Relevant seminar series</h3>
    <a target="_blank" href="https://www.gfz.de/sektion/geodynamische-modellierung/projekte/rift-and-rifted-margins-online-seminar">
    Rifts and Rifted Margins Online Seminar</a> organised by Sascha Brune, GFZ Potsdam. 
  </TextSection>
</Layout>

