---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Organising committee | About us',
	description: 'Organising committee',
};
---

<Layout {seo}>
  <TextSection narrow>
    <h1>Organising committee</h1>
    * to be updated *
  </TextSection>
</Layout>
